<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <h1>Weather App</h1>
    <form action="/weather" method="GET">
        <div class="input-group input-group-lg">
            <span class="input-group-text" style="background-color: #4edef1;">City</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" id="cityname" name="cityname">
            <!-- <button type="submit" class="btn btn-primary">Primary</button> -->

        </div>
        <button type="submit" class="btn btn-primary">Primary</button>
    </form>
</body>

</html>