<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f497ae5ec9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>

<body>

    <center>

        <h1><i class="fas fa-feather-alt"></i> Weather App</h1>
    </center>
    <center>
        <form action="/weather" method="GET" name="weather-form" onsubmit="return checkValidation()">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="city">City</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg" id="cityname" name="cityname" required>
                <!-- <button type="submit" class="btn btn-primary">Primary</button> -->
                <!-- background-color: #56f721; -->

            </div>
            <div id="alert-message">Please Enter City Name</div>
            <button type="submit" class="btn btn-primary btn1">Check Weather</button>
        </form>


    </center>

    <!-- <img src="images/img1.jpg" alt=""> -->
    <script src="js/home.js"></script>
</body>

</html>