body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#card{
    margin-top: 30px;
    width: 80%;
    /* background-color: skyblue; */
}

img{
    /* background-color: skyblue; */
}
#temp{
    margin-top: 50px;
}